<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>用户登录</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css">
</head>
<body class="bs-docs-home">
<div class="container theme-showcase">
	<h1 style=" line-height:2em;"> </h1><br />
	
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>用户登录</strong></h3>
				</div>
				<div class="panel-body">
					<div class="alert  alert-dismissable">
						<form action="/login/login" method="post" role="form" name="form1">
							
							<div class="form-group">
								<div class="input-group">
									<input type="text" name="user_name" class="form-control"  placeholder="用户名" value="root">
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group">
									<input type="text" name="password" class="form-control"  placeholder="密码" value="123456">
								
								</div>
							</div>
							
							<span class="input-group-btn">
                                       <button class="btn btn-success" type="submit"  >登录</button>
                            </span>
						
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
</body>
</html>
